<a href="https://colab.research.google.com/github/mehjabeenalam-ux/Free-CodeCamp-Python-Course-Code-Practice/blob/main/CodeCamp_String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Type: String

In [4]:
my_str_1 = 'Hello'
my_str_2 = "World"

print(my_str_1)
print(my_str_2)

Hello
World

Multi-line string, you can use triple double quotes or single quotes:

In [5]:
my_str_3 = """Multiline
string"""
my_str_4 = '''Another
multiline
string'''

print(my_str_3)
print(my_str_4)

Multiline
string
Another
multiline
string

String Concatenation of DifferentData Types simply does not work!

In [3]:
name = 'John Doe'
age = 26

#name_and_age = name + age
#print(name_and_age) # TypeError: can only concatenate str (not "int") to str

print(name)
print(age)

John Doe
26